.App {
  text-align: center;
}

input{
  margin-top: 30px;
  border: 1px solid #eee;
  width: 300px;
  font-size: 30px;
  border-bottom: 3px solid #0072ff;
}
.result{
  display: flex;
  flex-direction: column;
  margin: 0 40%;
}
.resultat{
  font-size: 50px;
  margin-bottom: auto;
}
.description{
  display: flex;
  justify-content: space-around;
}